@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@400;700&display=swap');
 :root {
    --color_primary: #343434;
    --color_secondary: #282828;
    --color_tertiary: #3e3e3e;
    --color_bodyprimary: #e5032e;
    --color_bodysecondary: #50026e;
    --color_header: #453979;
    --color_body: #242b44;
    --color_highlightColor: #fdad51;
    --color_highlightColor2: #fef48b;
    --color_textColor: #f2f4ec;
    --color_box_shadow_primary: #2d2d2d44;
    --color_box_shadow_secondary: #2d2d2d44;
    --color_box_shadow_hover: #2d2d2daa;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; 
box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
*/
    --box-shadow-params-table-cell: 2px 2px 2px 1px var(--color_box_shadow_primary);
    --box-shadow-params-table: 0px 0px 10px var(--color_box_shadow_primary);
    --box-shadow-params-table-row-hover: inset 0px 0px 10px var(--color_box_shadow_hover);
    --box-shadow-params-table-hover: 0px 0px 10px var(--color_box_shadow_hover);
    --box-shadow-params-table-bg: 9px 9px 16px var(--color_box_shadow_primary), -9px -9px 16px var(--color_box_shadow_secondary);
    --media-size-sm: 300px;
    --media-size-md: 600px;
    --media-size-lg: 900px;
    --media-size-xl: 1200px;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient( 180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --color-table-body: rgb(205, 205, 205);
    --color-table-text: #444444;
    --color-table-row-header: #f3f3f388;
    --color-table-row-even: #88888888;
    --color-table-row-odd: #bbbbbb88;
    --max-width-table-cell: 20rem;
    --max-width-table: 100rem;
    --primary-color: #6f6f6f;
    --primary-bg-color: #5e5e5e;
    --primary-hover-color: #9d9d9d;
    --secondary-color: #676767;
    --secondary-bg-color: #4a4a4a;
    --secondary-hover-color: #524;
    --border-color: rgba( 0, 0, 0, 0.2);
    --sidebar-width: 250px;
    --header-height: 150px;
    --footer-height: 0px;
}

/* absikyut */


/* default styles here for older browsers. 
   I tend to go for a 600px - 960px width max but using percentages
*/

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width: 768px) {
    /* default iPad screens */
}

/* different techniques for iPad screening */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}
* {
    /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
Playfair Display SC"*/
    font-family: 'Montserrat', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box
}
html, body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0 !important;
    padding: 0 !important;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--color_secondary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff;
    font-family: helvetica, sans-serif;
    margin: 4% 10%;
}
.container {
    display: grid;
    grid-template-rows: 1fr auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}
.page-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--color_primary);
}
.page-content2 {
    position: absolute;
    width: calc( 100% - var(--sidebar-width));
    max-width: calc( 100% - var(--sidebar-width));
    min-height: calc( 100% - var(--header-height));
    margin: 0 !important;
    left: calc(var(--sidebar-width));
    top: calc(var( --header-height));
}
.page-content3 {
    position: absolute;
    width: calc( 100% - var(--sidebar-width));
    max-width: calc( 100% - var(--sidebar-width));
    min-height: calc( 100% - var(--header-height));
    margin: 0 !important;
    left: calc(var(--sidebar-width));
    top: calc(var( --header-height));
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid black;
}
.page-content {
    position: absolute;
    width: calc( 100% - var(--sidebar-width));
    max-width: calc( 100% - var(--sidebar-width));
    min-height: calc( 100% - var(--header-height));
    margin: 0 !important;
    left: calc(var(--sidebar-width));
    top: calc(var( --header-height));
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid black;
}
@media only screen and (max-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .page-content {
        padding: 0 2.5rem;
    }
}
.dashboard-content {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100%;
    border: 1px solid blue;
    background-color: var(--color_primary);
}
.dashboard-content .table-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    height: 100%;
}

/* Sidebar Styling */

img.avatar-icon {
    border-radius: 50%;
    width: 50%;
}
.sidebar {
    top: calc(var( --header-height));
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--color_secondary);
    position: fixed;
    z-index: 200;
    max-height: calc( 100% - var( --header-height));
    overflow-y: auto;
}
.sidebar2 {
    top: calc(var( --header-height));
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--color_secondary);
    position: fixed;
    z-index: 200;
    max-height: calc( 100% - var( --header-height));
    overflow-y: auto;
}
.sidebar-header {
    height: 20px;
    background-color: var(--color_tertiary);
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: var( --header-height);
    border-right: 1px groove var( --border-color);
    border-bottom: 1px solid var( --border-color);
}
.sidebar-header .sidebar-title {
    font-size: 18px;
}
.sidebar-body {
    overflow: auto;
    position: relative;
    box-shadow: inset 0px 0px 10px var(--border-color);
    overflow-y: auto;
}
.sidebar-body .query-form {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: auto;
}

/* 
Sidebar hierarchy: 
    .sidebar-header
        .sidebar-icon
        .sidebar-title
        .sidebar-subtitle
    .sidebar-body
        .sidebar-nav
            .sidebar-nav-label
            .sidebar-nav-item
                .sidebar-nav-link
                .sidebar-nav-text
*/

.sidebar-body .sidebar-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar-body .sidebar-nav .sidebar-nav-label {
    padding: 10px 10px;
    display: flex;
    text-align: left;
    width: 100%;
    padding-left: 9px;
    margin-bottom: 8px;
    margin: 0px 10px;
    border-bottom: 1px groove var( --border-color);
    color: #fff;
}
.sidebar-body .sidebar-nav .sidebar-nav-item {
    width: 100%;
    cursor: pointer;
    border-bottom: 0.1rem dotted var( --border-color);
}
.sidebar-body .sidebar-nav .sidebar-nav-item .sidebar-nav-link {
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: background-color 0.3s ease;
    color: #fff;
}
.sidebar-body .sidebar-nav .sidebar-nav-link:hover {
    background-color: var(--primary-hover-color);
    /* box-shadow: 0px 3px var( --border-color), -1em 0 .4em var( --primary-hover-color); */
    box-shadow: 6px 6px 12px #434343, -6px -6px 12px #5b5b5b;
}
.sidebar-body .sidebar-nav .sidebar-nav-link:active {
    background-color: var(--primary-hover-color);
    /* box-shadow: 0px 3px var( --border-color), -1em 0 .4em var( --primary-hover-color); */
    box-shadow: inset 6px 6px 12px #434343, inset -6px -6px 12px #5b5b5b;
}
.sidebar-body .sidebar-nav .sidebar-nav-link.active {
    background-color: var(--primary-bg-color);
}
.sidebar-body .sidebar-nav .sidebar-nav-link .sidebar-nav-text {
    color: #fff;
}
.sidebar-footer {
    height: 20px;
    background-color: var(--color_tertiary);
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: var( --header-height);
    border-right: 1px groove var( --border-color);
    border-bottom: 1px solid var( --border-color);
}

/* Header Styling */

h1, h2, p {
    color: var(--color_textColor);
}
.header-section {
    color: var(--color_highlightColor);
    font-size: 1.5rem;
    line-height: 2rem;
}
.header-subsection {
    color: var(--color_highlightColor2);
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-spread-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between !important;
    width: 100%;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.page-header {
    position: sticky;
    background-color: var(--color_primary);
    z-index: 1000;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0px 20px;
    height: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: space-between;
}
.page-header-left {
    display: flex;
    flex-direction: row;
}
.page-header-center {
    display: flex;
    flex-direction: row;
}
.page-header-right {
    display: flex;
    flex-direction: row;
}
.page-header-title-container {
    display: flex;
    justify-content: left !important;
}
.page-header-title {
    font-weight: 400;
    font-size: 2em;
    padding: 1.5rem;
    display: flex;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    vertical-align: middle;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.page-header-title h1 {
    margin: 0;
    padding: 0 !important;
}
.page-header-icon-container {
    padding: 0 10px;
    border-right: 1px solid grey;
}
.page-header-icon {
    cursor: pointer;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    max-width: calc(var(--header-height) - 20px);
    max-height: calc(var(--header-height) - 20px);
    position: relative;
}
.page-header-nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Footer Styling */

.page-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
.page-footer-credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.70;
    padding: 0.5rem 0;
}
@media (max-width: 991px) {
    .page-footer .page-footer-content {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .page-footer .page-footer-content {
        padding-bottom: 0;
    }
    .page-footer .page-footer-content .copyright-text, .page-footer .page-footer-content .page-footer-links .social-icons {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .page-footer .page-footer-content {
        flex-direction: row;
        justify-content: space-around;
        padding: 0 1rem;
    }
}
.page-footer7 {
    position: absolute;
    right: 0;
    bottom: var(--footer-height);
    left: 0;
    padding: 1rem;
    height: var(--footer-height);
    text-align: center;
}
.page-footer3 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
}
.page-footer4 {
    clear: both;
    position: relative;
    height: var(--footer-height);
    margin-top: -40px;
    width: 100%;
    text-align: center;
}
.page-footer {
    clear: both;
    position: relative;
    display: block;
    height: var(--footer-height);
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}
.section-title {
    padding: 1rem;
    padding-left: 0 !important;
    margin: 0;
    gap: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: flex-start !important;
    max-width: 100%;
}
.section-title-text {
    margin: auto 0;
}
.section-title-bar {
    margin: 4px;
    width: 25vw;
    height: 1px !important;
    background-color: white;
}
@media (min-width: 300px) {
    .section-title {
        flex-direction: column;
        margin: 0;
        gap: 1.5rem;
    }
    .section-title-bar {
        width: 90%;
    }
}
@media (min-width: 600px) {
    .section-title {
        flex-direction: column;
    }
    .section-title-bar {
        width: 90%;
    }
}
@media (min-width: 900px) {
    .section-title {
        flex-direction: row;
    }
    .section-title-bar {
        width: 25vw;
    }
}
@media (min-width: 1200px) {
    .section-title {
        flex-direction: row;
    }
    .section-title-bar {
        width: 25vw;
    }
}

/* width */

 ::-webkit-scrollbar {
    width: 8px;
}

/* Track */


/*
        ::-webkit-scrollbar-track {
            background: #060b12;
            box-shadow: inset 0 0 5px grey;
            background-color: #242b44;
        }
    */


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #2d3e49;
    border-radius: 10px;
}

/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #3c526f;
}